body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
form {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
}
.header p {
  margin-right: 15px;
}
.container {
  border: 1px solid grey;
  padding: 50px;
  box-shadow: 10px 9px 16px #757575;
}
img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
svg {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid grey;
  margin: 0 15px;
  padding: 9px;
  border-radius: 30%;
}
select {
  height: 66px;
  margin-left: 5px;
  width: 60px;
  border: none;
}
input {
  padding: 10px;
  border-radius: 20px;
}
.button {
  align-items: center;
  display: flex;
}
@media screen and (max-width: 767px) {
  form {
    flex-direction: column;
  }
  .container {
    width: 50%;
    margin: 0 auto;
  }
  .container p {
    text-align: start;
  }
  #dualArrows {
    margin: 15px auto;
  }
}
@media screen and (max-width: 575px) {
  input {
    width: 50%;
  }
}
